<span class="index">{{position}}</span>
<div class="metadata">
  <h2><a href={{url}}>{{title}}</a></h2>
  <p>
    <span>{{pluralize score "point"}} by {{by}} {{moment-from-now timestamp}}</span>
    <span>|
      {{#link-to "item" itemID~}}
        {{#if commentsCount}}
          {{~pluralize commentsCount "comment"~}}
        {{else}}
          discuss
        {{/if}}
      {{~/link-to~}}
    </span>
  </p>
</div>