<span class="index">{{position}}</span>
<div class="metadata">
  <h2>
    {{#if isSelfLink}}
      {{#link-to "item" itemID}}{{title}}{{/link-to}}
    {{else}}
      <a href={{url}}>{{title}}</a>
    {{/if}}

    {{#if domain}}<span class="domain">({{domain}})</span>{{/if~}}
  </h2>
  <p>
    <span>{{pluralize score "point"}} by {{by}} {{moment-from-now timestamp}}</span>
  </p>
</div>
<div class="Comments">
  {{#link-to "item" itemID~}}
    {{#if commentsCount}}
      {{commentsCount}}
    {{else}}
      <span></span>
    {{/if}}
  {{~/link-to~}}
</div>