<section class="Items">
  {{#each @items key="id" as |item index|}}
    <HnItem
      @itemID={{item.id}}
      @type={{item.type}}
      @position={{index}}
      @url={{item.url}}
      @domain={{item.domain}}
      @score={{item.points}}
      @title={{item.title}}
      @by={{item.user}}
      @time={{item.time}}
      @commentsCount={{item.comments_count}}
    />
  {{/each}}
</section>
