<div class="Container">
  <article class="Item">
    <header>
      <h2>
        <a href={{item.url}}>{{item.title}}</a>
        {{#if item.domain}}
          <span class="domain">({{item.domain}})</span>
        {{/if}}
      </h2>

      {{#if item.content}}
        <p class="body-2">
          {{{item.content}}}
        </p>
      {{/if}}
    </header>

    {{#each item.comments key="id" as |item|}}
      <RecursiveComment @item=item />
    {{else}}
      <p class="secondary">This story doesn't have any comments yet.</p>
    {{/each}}
  </article>
</div>
